@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

:root {
    --primario: #caffbf;
    --secundario: #FF9E9E;
    --light: #FFFBEB;
    --dark: #000;
    --disabled: #EAEBED;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    height: 100vh;
    background-color: #277da1

}

*::first-letter {
    text-transform: capitalize;
}

.roundBorder {
    border-radius: 5px;
}

.list {
    margin: 25px auto;
    padding: 25px;
    background-color: var(--light);
    width: 100%;
    max-width: 350px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dateLeft {
    display: flex;
    align-items: center;
}

#dateNumber {
    font-size: 50px;
}

#dateText {
    letter-spacing: 3px;
    text-transform: uppercase;
}

#dateMonth,
#dateNumber,
#dateText {
    font-weight: bold;
}

#dateMonth,
#dateYear {
    margin-left: 7px;
    font-size: 20px;
}

form {
    margin: 20px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 35px auto;
    grid-column-gap: 15px;
}

input {
    border: none;
    padding-left: 10px;
    background-color: var(--disabled);
}

input:focus {
    outline: none;
}

.addTaskButton,
.orderButton {
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.addTaskButton {
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    background-color: var(--secundario);
}

.orderButton {
    color: var(--light);
    background-color: #007090;
}

.task {
    background-color: var(--primario);
    padding: 15px;
    margin-top: 15px;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
}
.done{
    background-color: var(--disabled);
    text-decoration: line-through;
    color: #000;
}